<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Регистрация</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <h2>Регистрация</h2>

    <form method="post">
      {% csrf_token %} {{ form.as_p }} {% if form.errors %}
      <div class="alert alert-danger mt-3">
        <strong>Ошибки при регистрации:</strong>
        <ul>
          {% for field in form %} {% for error in field.errors %}
          <li>{{ error }}</li>
          {% endfor %} {% endfor %}
        </ul>
      </div>
      {% endif %}

      <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
  </body>
</html>
