<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Создать задачу</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="mt-4">Создать новую задачу</h1>
      <form method="post" class="mt-3">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Сохранить</button>
      </form>
      <a href="{% url 'task-list' %}" class="btn btn-secondary mt-3"
        >Назад к списку задач</a
      >
    </div>
  </body>
</html>
